<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a routerLink="/portfolio" > <img src="./assets/mylogo8.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
   
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto my-2 my-lg-0">
        <li class="topnav home nav-item" >
          <a class="nav-link active"  routerLink="/portfolio">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="topnav nav-item">
        <a class="nav-link"  routerLink="/portfolio/projects">Projects</a>
        </li>
        <li class="topnav nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </span>
  </div>
</nav>
<div class="hero-image" style="text-align:center"></div>
  <div class="hero-text col-sm-6 text-center">
  <h1 >
    {{ title }} <br>
    WEB & UX
  </h1>
  <p style="padding: 30px 70px;">As a designer I'm passion about doing what's best in making the perfect site.
      <div class="arrow bounce">
        <p>Scroll Down</p>
          <i class="fas fa-angle-double-down fa-2x" ></i>
        </div>
  </div>
  
  <router-outlet></router-outlet>




