<div class="row sections">
    <div class="col-sm-12 text-center">

        <h2> <span class="underline"> Contact Information</span></h2>
    </div>

</div>

<div class="row text-center contacts">
    <div class="col-sm-6 profile">
        <img src="../../assets/pic1.jpg" alt="">
    </div>
    <div class="col-sm-6 contact">
        <p>Feel free to contact me if you feel impressed to:</p>
        <p>Tele: 801-689-8269</p>
        <p>Email: <a href="mailto:barkerr21@gmail.com">barkerr21@gmail.com</a></p>
        <p><a href="" class="btn btn-primary">Resume</a></p>
    </div>
</div>