<div class="row sections">
  <div class="col-sm-12 text-center">

    <h2> <span class="underline"> About Me</span></h2>
  </div>
  <div class="col-sm-12 text-center about">
    <p>As a highly creative and multitalented with solid training and education in multimedia,
       marketing, and print design, I have expertise at building web presence from concept, 
       navigation, and layout to completion. I’m skilled in translating subject matter 
       into concrete designs for a wide range of marketing, promotional, and informational 
       materials with a noted ability to build exceptional rapport with clients, 
       driving successful product life cycles and coordinating graphical/design changes. 
    </p>
<p> Additionally, I consistently perform within deadline-driven
    environments and am fully adept at writing well-designed, 
    testable, and efficient code using current best practices
     in web development. Both colleagues and leadership have repeatedly
      recognized me as a fast learner and team player, proficient in an 
      array of multimedia web tools. Please feel free to contact me with potential opportunities. </p>
     
  </div>

</div>

<div class="row sections pro">
  <div class="col-sm-12 text-center prof">
    <h2> <span class="underlinep">Professionalism</span></h2>
    <p class="about">These are skills that I have obtained.</p>
    <div id="SkillBox">




      <div class="SkillBar">
        <div id="Skill-HTML">
          <span class="Skill-Area ">HTML, CSS, Bootstrap</span>
          <span class="PercentText ">100%</span>
        </div>
      </div>

      <div class="SkillBar">
        <div id="Skill-XML">
          <span class="Skill-Area ">Photoshop/Illustrator </span>
          <span class="PercentText ">90%</span>
        </div>
      </div>



      <div class="SkillBar">
        <div id="Skill-WP">
          <span class="Skill-Area ">WordPress</span>
          <span class="PercentText ">90%</span>
        </div>
      </div>

      <div class="SkillBar">
        <div id="Skill-JS">
          <span class="Skill-Area ">Javascript</span>
          <span class="PercentText ">85%</span>
        </div>
      </div>




      <div class="SkillBar">
        <div id="Skill-PHP">
          <span class="Skill-Area ">PHP/SQL </span>
          <span class="PercentText ">85%</span>
        </div>
      </div>




      <div class="SkillBar">
        <div id="Skill-jQuery">
          <span class="Skill-Area ">Vue.js</span>
          <span class="PercentText ">70%</span>
        </div>
      </div>

      <div class="SkillBar">
        <div id="Skill-MS">
          <span class="Skill-Area ">MEAN Stack</span>
          <span class="PercentText ">70%</span>
        </div>
      </div>



    </div>
  </div>

</div>


<div class="sections text-center ">
  <h2> <span class="underline"> Projects</span></h2>
  <div class="container-fluid">
    <div class="card-columns">
      <div class="card">
        <a href="" data-toggle="modal" data-target="#p1">
          <img width="50%" src="../../assets/Capture04.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"> Sunridge</h5>
          </div>
        </a>

      </div>


      <div class="card">
          <a href="" data-toggle="modal" data-target="#p2">
            <img width="50%" src="../../assets/Capture08.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">The Gold Program</h5>
            </div>
          </a>
  
        </div>


        <div class="card">
            <a href="" data-toggle="modal" data-target="#p3">
              <img width="50%" src="../../assets/Capture06.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">FTS+</h5>
              </div>
            </a>
    
          </div>



    </div>
  </div>


  <div class="col-sm-12 text-center">
      <a routerLink="/portfolio/projects" class="btn btn-primary">View More</a>
    </div>
</div>



<div class="modal" id="p1" tabindex="-1" role="dialog">
  <div class="modal-dialog modal0large" role="document">
    <div class="modal-content">
      <div class="modalheader">
        <h3 class="modal-title text-center">Sunridge</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span arria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><img src="../../assets/Capture04.jpg" width="100%" alt="..."></p>
        <p>This site was built with Vue.js and bootstrap. This was built for a client for a school project who wanted to
          update an old site that is still in use. The old site was made in the 90s so it made better since to build a
          new one up to date.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <a href="https://keen-almeida-f9cbb4.netlify.com/#/" target="_blank" class="btn btn-primary">VIEW SITE</a>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="p2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal0large" role="document">
      <div class="modal-content">
        <div class="modalheader">
          <h3 class="modal-title text-center">The Gold Program</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span arria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><img src="../../assets/Capture08.jpg" width="100%" alt="..."></p>
          <p>This site was done with WordPress. The Gold Program is part of the company WEX. This site is where existing
              members and those who are looking to find ways to save more money on their tire purchases.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <a href="https://goldprogramonline.com/home/fts" target="_blank" class="btn btn-primary">VIEW SITE</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="p3" tabindex="-1" role="dialog">
      <div class="modal-dialog modal0large" role="document">
        <div class="modal-content">
          <div class="modalheader">
            <h3 class="modal-title text-center">FTS+</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span arria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><img src="../../assets/Capture06.jpg" width="100%" alt="..."></p>
            <p>This site is going to be completed soon. Its is done through DNN9 (an online editor)
                just like WordPress. This is where members will go to login to view their savings and sign up for more. Using a
                form that goes to Salesforce.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <a href="https://new.ftsplus.com/" target="_blank" class="btn btn-primary">VIEW SITE</a>
          </div>
        </div>
      </div>
    </div>