<div class="row sections">
  <div class="col-sm-12 text-center">
    <div #target></div>
    <h2> <span class="underline"> About Me</span></h2>
  </div>
  <div class="col-sm-12 text-center about">
    <p>Hello my name is Ryan Barker. I am a graduate from Weber State University with
      the degree of Web &amp; UX and a miner in Computer Science. I am
      Highly talented professional with experience in Web Design and
      Computer Science. Proven ability for multitasking and excelling in
      high stress environment. Repeatedly recognized for effective communication,
      organizational skills, and meeting the needs of the company. With key skills of being:
      Task-Oriented, Hard Working, Continuous Improvement, Organized, Customer Service, Dependable,
      HTML, CSS/CSS3, Vue JS, JavaScript, Bootstrap.
    </p>
  </div>

</div>

<div class="row sections pro">
  <div class="col-sm-12 text-center prof">
    <h2> <span class="underlinep">Professional</span></h2>
    <p class="about">Here are some of my skills that I have accomplished.</p>
    <div id="SkillBox">




      <div class="SkillBar">
        <div id="Skill-HTML">
          <span class="Skill-Area ">HTML, CSS, Bootstrap</span>
          <span class="PercentText ">100%</span>
        </div>
      </div>

      <div class="SkillBar">
        <div id="Skill-XML">
          <span class="Skill-Area ">Photoshop/Illustrator </span>
          <span class="PercentText ">90%</span>
        </div>
      </div>



      <div class="SkillBar">
        <div id="Skill-WP">
          <span class="Skill-Area ">WordPress</span>
          <span class="PercentText ">90%</span>
        </div>
      </div>

      <div class="SkillBar">
        <div id="Skill-JS">
          <span class="Skill-Area ">Javascript</span>
          <span class="PercentText ">85%</span>
        </div>
      </div>




      <div class="SkillBar">
        <div id="Skill-PHP">
          <span class="Skill-Area ">PHP/SQL </span>
          <span class="PercentText ">85%</span>
        </div>
      </div>




      <div class="SkillBar">
        <div id="Skill-jQuery">
          <span class="Skill-Area ">Vue.js</span>
          <span class="PercentText ">70%</span>
        </div>
      </div>

      <div class="SkillBar">
        <div id="Skill-MS">
          <span class="Skill-Area ">MEAN Stack</span>
          <span class="PercentText ">70%</span>
        </div>
      </div>



    </div>
  </div>

</div>

<div class="row sections">
  <div class="col-sm-12 text-center">
    <h2><span class="underline">Projects</span></h2>
  </div>
  <div class="col-sm-12 text-center ">
    <p class="about">These are some of the projects that I done.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center cards">

    <img src="../../assets/port.jpg" alt="...">

    <p style=" margin-top: -27px;">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
<a href="http://goldprogram.wpengine.com/" target="_blank" class="btn btn-primary">View Site</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center cards">

    <img src="../../assets/port3.JPG" alt="...">

    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://ryanbarker1.github.io/web2500/index.html" target="_blank" class="btn btn-primary">View Site</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center cards">

    <img src="../../assets/port6.JPG" alt="">

    <p style="margin-top: 52px;">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
      <a href="https://new.ftsplus.com/" target="_blank" class="btn btn-primary">View Site</a>
  </div>

  <div class="col-sm-12 text-center">
    <a routerLink="/portfolio/projects" class="btn btn-primary">View More</a>
  </div>

</div>