<div class="row sections">
    <div class="col-sm-12 text-center">
        <h2>About Me</h2>
    </div>
    <div class="col-sm-12 text-center">
        <p>This is going to be a paragraph about me.</p> 
    </div>
    
</div>

<div class="row sections pro">
        <div class="col-sm-12 text-center prof">
            <h2>Pofessional</h2>
            <p>This is going to be a paragraph about me.</p> 
        </div>
       
    </div>

<div class="row sections">
        <div class="col-sm-12 text-center">
                <h2>Projects</h2>
            </div>
            <div class="col-sm-12 text-center">
                    <p>These are some of the projects that I done.</p>
                </div>
            <div class="col-sm-4 text-center">
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
            </div>
            <div class="col-sm-4 text-center">
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
            </div>
            <div class="col-sm-4 text-center">
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
            </div>

            <div class="col-sm-12 text-center">
                <a routerLink="/portfolio/projects" class="btn btn-primary">View More</a>
            </div>

</div>