<div class="sections text-center ">

    <div >
        <projects-el *ngFor="let project of projects" [project]="project"></projects-el>
    </div>
    <div class="projects col-sm-12 tex-center">
        <img src="../../assets/EDGE_SprintSavings.jpg" alt="...">
      
        <h3 class="project">EDGE Savings</h3>
        <p class="project desc">This was designed in InDesign. It is a flier that is sent out to recepients via emails.</p>
      
        <hr>
      </div>
      <div class="projects col-sm-12 tex-center">
        <img src="../../assets/gold.jpg" alt="...">
      
        <h3 class="project">Gold Savings</h3>
        <p class="project desc">This was designed in InDesign. It is a flier that is sent out to recepients via emails.</p>
      
        <hr>
      </div>
      <div class="projects col-sm-12 tex-center">
        <img src="../../assets/GoldOverview_EDGE.jpg" alt="...">
      
        <h3 class="project">EDGE Savings</h3>
        <p class="project desc">This was designed in InDesign. It is a flier that is sent out to recepients via emails.</p>
      
        <hr>
      </div>
</div>