        <!-- <div class="container-fluid" >
                <div class="card" style="width: 18rem;">
                        <img src="{{project.image}}" class="card-img-top" alt="...">
                        <div class="card-body" *ngIf="!expanded">
                          <h3 class="card-title">{{project.title}}</h3>
                          <p class="card-text">{{project.description.substring(0, 10)}}</p>
                          <button class="btn btn-primary" (click)="expandedOrShrink()">VIEW MORE</button>
                          <a href={{project.URL}} target="_blank" class="btn btn-primary">VIEW SITE</a>
                        </div>
                        <div class="card-body" *ngIf="expanded">
                                <h3 class="card-title">{{project.title}}</h3>
                                <p class="card-text">{{project.description}}</p>
                                <button class="btn btn-primary" (click)="expandedOrShrink()">LESS</button>
                        </div>
                      </div>
        </div> -->
        <div class="projects col-sm-12 tex-center">
                        <img src="{{project.image}}" width="450px;" alt="...">
                      
                          <h3 class="project">{{project.title}}</h3>
                          <p class="project desc">{{project.description}}</p>
                         
                          <a href={{project.URL}} target="_blank" class="btn btn-primary">VIEW SITE</a>
                          <hr>
                        </div>
                       
                    