/* You can add global styles to this file, and also import other style files */

body{
    overflow-x: hidden;
}



.about{
  padding: 23px 100px;
}

.intro{
  padding: 30px 70px;
}

h1, h2{
    font-family: 'Roboto Condensed';
    font-size: 46px;
}

.underline{
  border-bottom: rgb(12, 124, 135) 1px solid;
  
}

.underlinep{
  border-bottom: white 1px solid;
}



h3{
  font-family: 'Roboto Condensed';
  font-size: 24px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.down:hover{
  color: #0c7c87 !important;
}

.cards img{
  width: 400px;
}

.cards{
  margin: 20px 0 ;
}

.cards p{
  padding-top: 50px;
}

.number3{
  height: 300px;
}

.number2{
  height: 300px;
}

.sections{
    margin: 90px 0;
}

.pro{
    background-image: linear-gradient(to bottom right,  rgba(12, 124, 135, 0.8), rgba(237, 149, 181, 0.5)), url("assets/back3.jpg");
 /* Set a specific height */
 height: 950px;
  
 /* Position and center the image to scale nicely on all screens */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 background-attachment: fixed;
 color: white;
}

.prof{
    margin-top: 156px;
}

.btn{
   background-color: transparent;
    border: 1px #ed95b5 solid;
    color: #333;
    text-transform: uppercase;
}

.arrow p{
  margin-top: 40px;

}

.btn:hover{
    background-color: #0c7c87 ;
    border: 1px #0c7c87  solid;
    color: #fff;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(to bottom right, rgba(12, 124, 135, 0.8), rgba(237, 149, 181, 0.5)), url("assets/pic.jpg");
  
    /* Set a specific height */
    height: 700px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 325px;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  footer{
      background-color: #4c4d4f;
  }

nav p{
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


  .social ul{
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      list-style: none;
      display: flex;
      color: #fff;
  }

  .social ul li{
      font-size: 18px;
      padding: 10px 30px;
      color: #fff;
  }

  nav img{
      width: 105px;
      margin-left: 30px;
  }

  nav{
      position: fixed;
      border-bottom: #4c4d4f .75px solid;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 1px solid rgb(12, 124, 135);
    color: rgb(12, 124, 135);
  }

  hr{
    background-color: rgb(12, 124, 135);
    margin-top: 55px;
    width: 50%;
  }


  
  

.projects{
  margin: 90px 0;
}  

.projects img{
  width: 450px;
}

.projects .btn{
  margin: 20px 0;
}

.project{
  padding: 25px;
}

.desc{
  padding: 0 360px;
}

  .home{
    margin-left: 900px;
  }

  #SkillBox {
    
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    height: auto;
    margin: 40px auto;
    padding: 10px;
    border-radius:20px;
  }
  #SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
  }
  .SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    margin: 20px auto;
  }

  

  #Skill-HTML {
    animation: Animate-HTML 6s;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: rgba(12, 124, 135, 0.6);
  }
  @keyframes Animate-HTML {
    from {
      width: 10px;
    }
    to {
      width: 100%}
  }
  #Skill-jQuery {
    animation: Animate-jQuery 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color:rgba(12, 124, 135, 0.6);
  }
  @keyframes Animate-jQuery {
    from {
      width: 10px;
    }
    to {
      width: 70%
    }
  }

 

  #Skill-MS {
    animation: Animate-MS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color:rgba(12, 124, 135, 0.6);
  }
  @keyframes Animate-MS {
    from {
      width: 10px;
    }
    to {
      width: 70%
    }
  }

  #Skill-JS {
    animation: Animate-JS 5s;
    width: 85%;
    height: 50px;
    position: absolute;
    background-color:rgba(12, 124, 135, 0.6);
  }
  @keyframes Animate-JS {
    from {
      width: 10px;
    }
    to {
      width: 85%}
  }#Skill-XML {
     animation: Animate-XML 6s;
     width: 90%;
     height: 50px;
     position: absolute;
     background-color: rgba(12, 124, 135, 0.6);
   }
  @keyframes Animate-XML {
    from {
      width: 10px;
    }
    to {
      width: 90%}
  }
  

  #Skill-WP {
    animation: Animate-WP 6s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color:rgba(12, 124, 135, 0.6);
  }
  @keyframes Animate-WP {
    from {
      width: 10px;
    }
    to {
      width: 90%}
  }
 
  #Skill-PHP {
    animation: Animate-PHP 5s;
    width: 85%;
    height: 50px;
    position: absolute;
    background-color: rgba(12, 124, 135, 0.6);
  }
  @keyframes Animate-PHP {
    from {
      width: 10px;
    }
    to {
      width: 85%}
  }
  .Skill-Area {
    z-index: 1;
    float: left;

    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;

    font-size: 18px;
  }
  .PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;

    font-size: 18px;
  }


  
  @media only screen and (max-width: 900px){
    .home{
    margin: 0;
    }
    nav img{
        margin-left: 0;
    }

    .cards img{
      width: 300px;
    }

    .cards{
      margin-left: 0;
    }

    .about{
      padding: 0;
    }

    .projects img{
      width: 315px;
    }

    .desc{
      padding: 0;
    }
    .intro{
      padding: 0;
    }

    .hero-text {
      text-align: center;
      position: absolute;
      top: 325px;
      margin-top: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
   
}
